<div [ngStyle]="{
'background':config.fondo,
'padding':'20px',
'border':'5px solid black',
'border-color':config.color,
}">
    <h1>Hello, {{ title }}</h1>
    <p>Congratulations! Your app is running. 🎉</p>
    <p><strong>{{descripcion}}</strong></p>

    <button (click)="ocultarVideojuegos(false)" *ngIf="mostrarVideojuegos">Ocultar Videojuegos</button>

    <button (click)="ocultarVideojuegos(true)" *ngIf="!mostrarVideojuegos">Visualizar Videojuegos</button>

    <videojuego *ngIf="mostrarVideojuegos"></videojuego>
    <zapatillas></zapatillas>
    <app-cursos></app-cursos>
</div>